<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Sample app with buttons!</title>
</head>

<body>
    <div class="container">
        <h3>Our Flask Buttons</h3>
        <div style="height:50px"></div>
        <form method="post" action="/">
            <input type="submit" value="VALUE1" name="action1" />
            <input type="submit" value="VALUE2" name="action2" />
        </form>
    </div>
</body>

</html>