{% extends 'base.html' %}

{% block header_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css"
    integrity="sha512-WvVX1YO12zmsvTpUQV8s7ZU98DnkaAokcciMZJfnNWyNzm7//QRV61t4aEr0WdIa4pe854QHLTV302vH92FSMw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block container_content %}

<div>
    <h2>Drop a file!</h2>
    <form action="{{ url_for('file_drop') }}" class="dropzone" id="my-awesome-dropzone-id" name="my-awesome-dropzone-name">
        <div class="fallback">
            <input name="file" type="file" name="my-epub-file" multiple />
        </div>
    </form>
    <h2>Load another</h2>
    <p>
        <a href="{{ url_for('file_drop') }}" class="btn btn-info">Another!</a>
    </p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone-amd-module.min.js"
    integrity="sha512-oQq8uth41D+gIH/NJvSJvVB85MFk1eWpMK6glnkg6I7EdMqC1XVkW7RxLheXwmFdG03qScCM7gKS/Cx3FYt7Tg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}