{% extends 'base.html' %}

{% block content_form %}
            <!-- I'm extending -->
            <h5>Write your text (in english): </h5>
            <textarea name="message" rows="4" cols="50"></textarea>
            <br />
            <div style="height:40px"></div>
            <h5>Select Hugging Face model: </h5>
            <select name="model_choice">
                {%for i in range(0, len)%}
                <option>{{listOfKeys[i]}}</option>
                {%endfor%}
            </select>
            <div style="height:50px"></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
{% endblock %}